@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-bottom:10px;">
    <p>Se leyeron <b>@ViewBag.Message</b> registros</p>
</div>
<table class="table">
    <tbody>
        <tr>
            <th> Day</th>
            <th> FPC</th>
            <th> Country</th>
            <th> Profit Center</th>
            <th> Reason Code</th>
            <th> RCC</th>
            <th> SAP Site</th>
            <th> Customer</th>
            <th> SU Cases</th>
        </tr>
        @foreach (var item in (List<LARCA2.Business.Entities.MasterRow>)ViewData["MasterRows"])
        {
            <tr>
                <td> @item.Day</td>
                <td> @item.FPC</td>
                <td> @item.ReportingCountry</td>
                <td> @item.ProfitCenter</td>
                <td> @item.ReasonCode</td>
                <td> @item.RootCauseCode</td>
                <td> @item.SAPSite</td>
                <td> @item.Customer</td>
                <td> @item.SUCases</td>
            </tr>
        }
    </tbody>
</table>    