@model Larca2.Models.AuxDataSearchForm
@{
    ViewBag.Title = "Global Parameters Managment";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}
<div class="container-fluid">

    @using (Html.BeginForm("ModifAuxData", "Adm", FormMethod.Post, new { name = "myform" }))
    {
        <div class="row" style="margin-top:10px;">
            <div class="col-sm-12">
                <input type="submit" value="Save" name="Modificar" id="Modificar" class="btn btn-success" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th align="center">
                                <label>Top Level 2</label>
                            </th>
                            <th align="center">
                                <label>Top Level 3</label>
                            </th>
                            <th align="center">
                                <label>Max allowed cloning</label>
                            </th>
                            <th align="center">
                                <label>Excel Row From Import</label>
                            </th>
                            <th align="center">
                                <label>Excel Column From Import</label>
                            </th>
                            <th align="center">
                                <label>Expected report subscriptions</label>
                            </th>
                            <th align="center">
                                <label>Available days</label>
                            </th>
                            <th align="center">
                                <label>SMO days</label>
                            </th>
                        </tr>
                        <tr>
                            <td align="center">
                                <label>
                                    @Html.TextBoxFor(Modell => Modell.AuxData.TopLvl2, new { @value = Model.AuxData.TopLvl2 })
                                </label>
                            </td>
                            <td align="center">
                                <label>
                                    @Html.TextBoxFor(Modell => Modell.AuxData.TopLvl2, new { @value = Model.AuxData.TopLvl3 })
                                </label>
                            </td>
                            <td align="center">
                                <label>
                                    @Html.TextBoxFor(Modell => Modell.AuxData.TopLvl2, new { @value = Model.AuxData.Toplvl4 })
                                </label>
                            </td>
                            <td align="center">
                                <label>
                                    @Html.TextBoxFor(Modell => Modell.AuxData.XlsRowFrom, new { @value = Model.AuxData.XlsRowFrom })
                                </label>
                            </td>
                            <td align="center">
                                <label>
                                    @Html.TextBoxFor(Modell => Modell.AuxData.XlsColumnFrom, new { @value = Model.AuxData.XlsColumnFrom })
                                </label>
                            </td>
                            <td align="center">
                                <label>
                                    @Html.TextBoxFor(Modell => Modell.AuxData.qtyattach, new { @value = Model.AuxData.qtyattach })
                                </label>
                            </td>
                            <td align="center">
                                <label>
                                    @Html.TextBoxFor(Modell => Modell.AuxData.reportdays, new { @value = Model.AuxData.reportdays })
                                </label>
                            </td>
                            <td align="center">
                                <label>
                                    @Html.TextBoxFor(Modell => Modell.AuxData.SmoDays, new { @value = Model.AuxData.SmoDays })
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    }
</div>
