@model Larca2.Models.Level4SearchForm
@{
    ViewBag.Title = "Modification Other Classification";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This screen allows the visualization, modification and deletion of other classifications in the system.
            </p>
        </div>
    </section>
}


<script>


    $(document).ready(function () {
        var ListIdRenglon;
        $('#Descripcion_nivel3').click(function () {


        });

        $('#Descripcion_nivel3').on('change', function () {

            ListIdRenglon = this.value;


            document.getElementById("SelectNivel").style.display = 'none';
            document.getElementById('txtNivel').value = ListIdRenglon;


        });



        $('#Nuevo').on('click', function () {

            var url = '@Url.Action("NuevoLevel4", "Adm", new {Id =  "IdRenglon"})';


            if (document.getElementById('txtNivel').value == "" || document.getElementById('txtNivel').value == "Search...") {

                document.getElementById("SelectNivelAgregar").style.display = "";
                return false;
            }

            window.location.href = url.replace('IdRenglon', ListIdRenglon);

        });





        $('#Modificar').on('click', function () {

            var IdRenglon;
            var rowCount = $('.table tr').length;
            var value = $('input:checked').val();
            var CheckedCount = $('input:checked').length;


            $('.txtIdRenglon').val(value);
        });

    });

</script>

<div class="container-fluid" align="left">
    @using (Html.BeginForm("Level4NuevoMetodo", "Adm", FormMethod.Post, new { name = "myform" }))
    {
      
                        
        
        <div class="row">
            <div class="col-sm-13">
                <h5 style="border-bottom:1px solid #c7d1d6;padding-left:8px;margin-left:8px;">FILTER</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label>BU</label><br />

                <select id="Descripcion_nivel3" class="contro">
                    @if (Model != null)
                    {
                        if (Model.Level4List != null)
                        {

                            <option id="option">Search...</option>

                            foreach (LARCA2.Data.DatabaseModels.LARCA20_MasterData BU in Model.Level3List)
                            {
                                <option value="@BU.id">@BU.DataFin</option>
                            }

                        }

                        else
                        {
                            <option id="option">Search...</option>

                            foreach (LARCA2.Data.DatabaseModels.LARCA20_MasterData BU in Model.Level3List)
                            {
                                <option value="@BU.id">@BU.DataFin</option>

                            }

                        }
                    }
                </select>

                <input type="hidden" id="txtNivel" name="txtNivel" value="" />
                <input type="hidden" class="txtIdRenglon" id="txtIdRenglon" name="txtIdRenglon" value="" />


            </div>

            <div class="col-sm-10">
                <br style="margin-bottom:3px;" />
                <button type="submit" id="btnBusca" class="btn btn-info" formaction="Level4">Search</button>
                <br style="margin-bottom:3px;" />
                <br style="margin-bottom:3px;" />
                <div id="SelectNivel" style="color:red;display:none">Level 3</div>
                <div id="SelectNivelAgregar" style="color:red;display:none;padding-left:20px;margin-left:20px;">Please choose a BU for new item</div>

            </div>
        </div>
        <div class="row">
            <br style="margin-bottom:3px;" />
            <div class="col-sm-4" id="Seleccionar" style="color:red;display:none">Ingrese un Filtro para la búsqueda</div>

        </div>
        <div class="row">
            <div class="pull-left2 col" align="left" style="margin-left:10px;">
                <input type="button" value="Add" name="Nuevo" id="Nuevo" class="btn btn-default" align="left" style="margin-left:10px;" />
                <input type="submit" value="Save Changes" name="Modificar" id="Modificar" class="btn btn-default" align="left" style="margin-left:10px;" />
            </div>
        </div>

        <div class="col-sm-13" align="left">
            <div class="content" align="left" style="margin-bottom:20px;width:1000px;height:350px">
                @*antes era class table-responsive*@
                <table class="table" align="left">
                    <tr>

                        <th width="20%" align="center">
                            <label>Select</label>
                        </th>
                        <th width="20%" align="center">
                            <label>BU</label>
                        </th>
                        <th width="20%" align="center">
                            <label>Description</label>
                        </th>
                        <th width="10%" align="center">
                            <label>Deleted</label>
                        </th>
                    </tr>

                    @{int j = 0;

                    if (Model.Level4List != null)
                    {
                        if (Model.filterlimit != null && Model.filterlimit != 0)
                        {

                            @*for (int i = 0; i < Model.filterlimit; i++)
                                {
                                    <tr id="tr">
                                        <td width="10%" align="center">
                                            @Html.CheckBoxFor(m => m.Selected[j], new { @value = Model.Level4List[i].Id })
                                        </td>
                                        <td width="20%" align="center">
                                            <label>
                                                @Model.Level4List[i].Nombre
                                            </label>
                                        </td>
                                    </tr>
                                }*@

                       
                            var x = 0;
                            if (Model.Selected == null || (Model.Level4List != null && Model.Selected.ToList().Count < Model.Level4List.Count))
                            {
                                Model.Selected = new bool[Model.Level4List.Count];
                              
                            }
                            foreach (LARCA2.Data.DatabaseModels.LARCA20_Level4 Level4 in Model.Level4List)
                            {
                                if (x < Model.filterlimit)
                                {
                                    Model.Selected[j] = false;
                                    <tr id="tr">
                                        <td width="20%" align="center">

                                            @Html.CheckBoxFor(m=> m.Selected[j])
                                        </td>
                                        <td width="20%" align="center">

                                            @if (Level4.RefIdBU != null)
                                            {
                                                <label>
                                                    @Level4.LARCA20_MasterData.DataFin
                                                </label>
                                            }
                                            else
                                            {
                                                <label>
                                                    -
                                                </label>
                                            }

                                        </td>
                                        <td width="20%" align="center">
                                            <label>
                                                @Html.TextBoxFor(m => m.Level4EditedList[j].name, new { @class = "form-control", @cols = 50, @placeholder = Model.Level4EditedList[j].name, @Styles = "font-family: Verdana" })
                                            </label>
                                        </td>
                                        <td width="10%" align="center">
                                            <label>
                                                @{
                                            List<SelectListItem> stateList = new List<SelectListItem>();

                                            stateList.Add(new SelectListItem() { Value = "True", Text = "True", Selected = false });
                                            stateList.Add(new SelectListItem() { Value = "False", Text = "False", Selected = false });
                                                }
                                                @Html.DropDownListFor(Modell => Model.Level4EditedList[j].deleted, new SelectList(stateList, "Value", "Text", Level4.deleted), new { @class = "form-control" })
                                            </label>
                                        </td>
                                        
                                    </tr>
                                    @Html.HiddenFor(m => m.Level4EditedList[j].Id)
                                    @Html.HiddenFor(m => m.Level4List[j].deleted)
                                    @Html.HiddenFor(m => m.Level4List[j].name)
                                    @Html.HiddenFor(m => m.Level4List[j].Id) 
                                            j++;
                                            x++;
                                }
                            }

                        }
                        else
                        {
                            @*var x = 0;
                                foreach (LARCA2.Data.DatabaseModels.LARCA20_Level4 Level4 in Model.Level4List)
                                {

                                    <tr id="tr">
                                        <td width="10%" align="center">
                                            @Html.CheckBoxFor(m => m.Selected[j], new { @value = Level4.Id })
                                        </td>
                                        <td width="20%" align="center">
                                            <label>
                                                @Level4.Nombre
                                            </label>
                                        </td>
                                    </tr>
                                    j++;
                                    x++;
                                    //    }
                                }*@
                        }
                    }
                    }

                </table>


            </div>
        </div>
    }
</div>