@model Larca2.Models.MasterDataSearchForm

@{
    ViewBag.Title = "Master Data Management";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This screen allows the visualization, modification and deletion of System's Master Data.
            </p>
        </div>
    </section>
}

<script>

    $(document).ready(function () {

        $('#btnBusca').on('click', function () {
            if (document.getElementById('txtCod').value == "" && document.getElementById('txtDes').value == "" && document.getElementById('txtId').value == "") {

                ////////////////////////AGREGAR ESTO/////////////////
                document.getElementById('txtTodos').value = 1;
                ////////////////////////////////////////////////////
            }
        });

        $('#txtId').on('change', function () {
            document.getElementById('ddlGrupos').value = "0";
        });

        $('#txtDes').on('change', function () {
            document.getElementById('ddlGrupos').value = "0";
        });

        $('#Modificar').on('click', function () {

            var IdRenglon;
            var rowCount = $('.table tr').length;
            var value = $('input:checked').val();
            var CheckedCount = $('input:checked').length;


            $('.txtIdRenglon').val(value);
            $('.txtType').val("Edit");


            if (rowCount == 1) {

                document.getElementById("Seleccionar").style.display = "";
                return false;
            }
            else {

                if (CheckedCount > 1) {
                    document.getElementById("Check2").style.display = 'none';
                    document.getElementById("Check1").style.display = "";

                    return false;
                }

                if (CheckedCount < 1) {
                    document.getElementById("Check1").style.display = 'none';
                    document.getElementById("Check2").style.display = "";
                    return false;
                }
            }

        });

        $('#Save').on('click', function () {

            var IdRenglon;
            var rowCount = $('.table tr').length;
            var value = $('input:checked').val();
            var CheckedCount = $('input:checked').length;


            $('.txtIdRenglon').val(value);
            $('.txtDataFin').val(value);
            $('.txtType').val("Save");


            if (rowCount == 1) {

                document.getElementById("Seleccionar").style.display = "";
                return false;
            }
            else {

                if (CheckedCount > 1) {
                    document.getElementById("Check2").style.display = 'none';
                    document.getElementById("Check1").style.display = "";

                    return false;
                }

                if (CheckedCount < 1) {
                    document.getElementById("Check1").style.display = 'none';
                    document.getElementById("Check2").style.display = "";
                    return false;
                }
            }

        });
    });



</script>



<div class="container-fluid">

    @using (Html.BeginForm("ModifMasterData", "Adm", FormMethod.Post, new { name = "myform" }))
    {
        <div class="row">
            <div class="col-sm-12">
                <h5 style="border-bottom:1px solid #c7d1d6;">FILTERS</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label for="Nombre">Group</label>
                @{
        List<SelectListItem> ListGrupos = new List<SelectListItem>();
        ListGrupos.Add(new SelectListItem() { Value = "0", Text = "Select ... ", Selected = true });
        ListGrupos.Add(new SelectListItem() { Value = "BU", Text = "BU" });
        ListGrupos.Add(new SelectListItem() { Value = "SMO", Text = "SMO" });
        ListGrupos.Add(new SelectListItem() { Value = "OWNER", Text = "OWNER" });
        ListGrupos.Add(new SelectListItem() { Value = "REASON", Text = "REASON" });
                }
                @Html.DropDownList("ddlGrupos", ListGrupos, new { @class = "form-control col-sm-12", @placeholder = "Grupos ..." })
            </div>
            <div class="col-sm-3">
                <label>Id</label><br />
                <input type="text" name="txtId" id="txtId" value="" class="col-sm-12" />
            </div>
            <div class="col-sm-3">
                <label>Original Data</label><br />
                <input type="text" name="txtDes" id="txtDes" value="" class="col-sm-12" />

            </div>
            <div class="col-sm-1">
                <br style="margin-bottom:3px;" />
                <button type="submit" id="btnBusca" class="btn btn-info" formaction="MasterDataBM">Search</button>
            </div>
        </div>
        <div class="row" style="margin-bottom:10px;margin-top:10px; font-weight:bold;">
            <div class="col-sm-4" id="Seleccionar" style="color:red;display:none">Select One Filter</div>
            <div class="col-sm-4" id="Check1" style="color:red;display:none">Select Only one Row</div>
            <div class="col-sm-4" id="Check2" style="color:red;display:none">Select a Row</div>
        </div>
        <div class="row">
            <div class="col-sm-12 pull-right">
                <input type="button" value="New Row" name="Nuevo" id="Nuevo" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("NuevaMasterData", "Adm") + "'");" />
                <input type="submit" id="Save" value="Save Final Data" name="Save" class="btn btn-success" />
                <input type="submit" id="Modificar" value="Edit Row" name="Modificar" class="btn btn-warning" />
                <input type="hidden" class="txtIdRenglon" id="txtIdRenglon" name="txtIdRenglon" value="" />
                <input type="hidden" class="txtTodos" id="txtTodos" name="txtTodos" value="" />
                <input type="hidden" class="txtType" id="txtType" name="txtType" value="" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th width="10%" align="center">Selection</th>
                            <th width="10%" align="center">
                                <label>Id</label>
                            </th>
                            <th width="20%" align="center">
                                <label>Group</label>
                            </th>
                            <th width="30%" align="center">
                                <label>Original Data</label>
                            </th>
                            <th width="30%" align="center">
                                <label>Final Data</label>
                            </th>
                            <th width="10%" align="center">
                                <label>Deleted</label>
                            </th>
                        </tr>

                        @{int j = 0;

                        if (Model.MasterDataList != null)
                        {

                            foreach (LARCA2.Data.DatabaseModels.LARCA20_MasterData MasterData in Model.MasterDataList)
                            {
                                <tr>
                                    <td class="Check" width="10%" align="center">
                                        @Html.CheckBoxFor(m => m.Selected[j], new { @value = MasterData.IdRenglon })
                                    </td>

                                    <td width="20%" align="center">
                                        <label>
                                            @MasterData.IdRenglon
                                            @Html.HiddenFor(Modell => Modell.MasterDataList[j].IdRenglon, new { @value = MasterData.IdRenglon })
                                        </label>
                                    </td>

                                    <td width="20%" align="center">
                                        <label>
                                            @MasterData.Data
                                        </label>
                                    </td>
                                    <td width="30%" align="center">
                                        <label>
                                            @MasterData.DataIni
                                        </label>
                                    </td>
                                    <td width="30%" align="center">
                                        <label>
                                            @Html.TextBoxFor(Modell => Modell.MasterDataList[j].DataFin, new { @value = MasterData.DataFin })
                                        </label>
                                    </td>
                                    <td width="10%" align="center">
                                        <label>
                                            @MasterData.Borrado
                                        </label>
                                    </td>
                                </tr>
                                j++;
                            }
                        }
                        }

                    </table>

                </div>
            </div>
        </div>
    }
</div>