@model Larca2.Models.AuxDataSearchForm
@{
    ViewBag.Title = "Global Parameters Management";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}
<div class="container-fluid">

    @using (Html.BeginForm("ModificarAuxData", "Adm", FormMethod.Post))
    {
        @Html.HiddenFor(Model => Model.AuxData.RowId)
    <div class="row" style="margin-top:10px;">
        <div class="col-sm-12">
            <fieldset class="form-group">
                <label for="Nombre">Top Level 2</label>
                @Html.TextBoxFor(Model => Model.AuxData.TopLvl2, new { @class = "form-control", @placeholder = "Top Level 2 ..." })
                <small class="text-muted">@Html.ValidationMessageFor(Model => Model.AuxData.TopLvl2)</small>
            </fieldset>
        </div>
    </div>
        <div class="row">
            <div class="col-sm-12">
                <fieldset class="form-group">
                    <label for="Nombre">Top Level 3</label>
                    @Html.TextBoxFor(Model => Model.AuxData.TopLvl3, new { @class = "form-control", @placeholder = "Top Level 3 ..." })
                    <small class="text-muted">@Html.ValidationMessageFor(Model => Model.AuxData.TopLvl3)</small>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <fieldset class="form-group">
                    <label for="Nombre">Max allowed cloning</label>
                    @Html.TextBoxFor(Model => Model.AuxData.Toplvl4, new { @class = "form-control", @placeholder = "Max allowed cloning ..." })
                    <small class="text-muted">@Html.ValidationMessageFor(Model => Model.AuxData.Toplvl4)</small>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <fieldset class="form-group">
                    <label for="Nombre">Excel Row From Import</label>
                    @Html.TextBoxFor(m => m.AuxData.XlsRowFrom, new { @class = "form-control", @placeholder = "Excel Row From Import ..." })
                    <small class="text-muted">@Html.ValidationMessageFor(Model => Model.AuxData.XlsRowFrom)</small>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <fieldset class="form-group">
                    <label for="Nombre">Excel Column From Import</label>
                    @Html.TextBoxFor(m => m.AuxData.XlsColumnFrom, new { @class = "form-control", @placeholder = "Excel Column From Import ..." })
                    <small class="text-muted">@Html.ValidationMessageFor(Model => Model.AuxData.XlsColumnFrom)</small>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <fieldset class="form-group">
                    <label for="Nombre">Expected report subscriptions</label>
                    @Html.TextBoxFor(Model => Model.AuxData.qtyattach, new { @class = "form-control", @placeholder = "Expected report subscriptions ..." })
                    <small class="text-muted">@Html.ValidationMessageFor(Model => Model.AuxData.qtyattach)</small>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <fieldset class="form-group">
                    <label for="Nombre">Available days for Analysis after complete upload</label>
                    @Html.TextBoxFor(Model => Model.AuxData.reportdays, new { @class = "form-control", @placeholder = "Available days for Analysis after complete upload ..." })
                    <small class="text-muted">@Html.ValidationMessageFor(Model => Model.AuxData.reportdays)</small>
                </fieldset>
            </div>
        </div>
    <div class="row">
        <div class="col-sm-12">
            <fieldset class="form-group">
                <label for="Nombre">SMO Days</label>
                @Html.TextBoxFor(Model => Model.AuxData.SmoDays, new { @class = "form-control", @placeholder = "SMO days ..." })
                <small class="text-muted">@Html.ValidationMessageFor(Model => Model.AuxData.SmoDays)</small>
            </fieldset>
        </div>
    </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right col">
                    <br />
                    <input type="submit" value="Save" name="Guardar" class="btn btn-success" />&nbsp;&nbsp;&nbsp;
                    <input type="button" value="Back" id="Volver" class="btn btn-danger" onclick="@("window.location.href='" + @Url.Action("AuxDataBM", "Adm") + "'");" />
                </div>
            </div>
        </div>
    }

</div>
