@model Larca2.Models.MasterDataSearchForm

@{
    ViewBag.Title = "Master Data Edit";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}
<div class="container-fluid">

    @using (Html.BeginForm("ModificarMasterData", "Adm", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.MasterData.id)
    <div class="row" style="margin-top:10px;">
        <div class="col-sm-12">
            <fieldset class="form-group">
                <label for="Nombre">Group</label>
                @{
        List<SelectListItem> ListGrupos = new List<SelectListItem>();
        ListGrupos.Add(new SelectListItem() { Value = "", Text = "Select ...", Selected = false });
        ListGrupos.Add(new SelectListItem() { Value = "BU", Text = "BU", Selected = (@ViewBag.Grupo == "BU" ? true : false) });
        ListGrupos.Add(new SelectListItem() { Value = "SMO", Text = "SMO", Selected = (@ViewBag.Grupo == "SMO" ? true : false) });
        ListGrupos.Add(new SelectListItem() { Value = "OWNER", Text = "OWNER", Selected = (@ViewBag.Grupo == "OWNER" ? true : false) });
        ListGrupos.Add(new SelectListItem() { Value = "REASON", Text = "REASON", Selected = (@ViewBag.Grupo == "REASON" ? true : false) });
                }
                @Html.DropDownListFor(m => m.MasterData.Data, ListGrupos, new { @class = "form-control", @placeholder = "Role ..." })
                <small class="text-muted">@Html.ValidationMessageFor(m => m.MasterData.Data)</small>
            </fieldset>
        </div>
    </div>
        <div class="row">
            <div class="col-sm-12">
                <fieldset class="form-group">
                    <label for="Nombre">Original Data</label>
                    @Html.TextBoxFor(m => m.MasterData.DataIni, new { @class = "form-control", @placeholder = "Original Data", @MaxLength = "100" })
                    <small class="text-muted">@Html.ValidationMessageFor(m => m.MasterData.DataIni)</small>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <fieldset class="form-group">
                    <label for="Nombre">Final Data</label>
                    @Html.TextBoxFor(m => m.MasterData.DataFin, new { @class = "form-control", @placeholder = "Final Data", @MaxLength = "50" })
                    <small class="text-muted">@Html.ValidationMessageFor(m => m.MasterData.DataFin)</small>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <fieldset class="form-group">
                    <label for="Nombre">Deleted</label><br />
                    @Html.CheckBoxFor(m => m.MasterData.deleted, new { @class = "form-control" })
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input type="submit" value="Save" name="Guardar" class="btn btn-success" />&nbsp;&nbsp;&nbsp;
                <input type="button" value="Back" id="Volver" class="btn btn-danger" onclick="@("window.location.href='" + @Url.Action("MasterDataBM", "Adm") + "'");" />
            </div>
        </div>
    }
</div>