@model Larca2.Models.RcClasificationSearchForm

@{
    ViewBag.Title = "Root Cause Clasification Edition";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}
<div class="container-fluid">

    @using (Html.BeginForm("ModificarRcClasification", "Adm", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.RcClasification.IdRenglon)
    <div class="row" style="margin-top:10px;">
        <div class="col-sm-12">
            <fieldset class="form-group">
                <label for="Nombre">Level</label>
                @Html.TextBoxFor(m => m.RcClasification.Nivel, new { @class = "form-control", @placeholder = "Level ...", @MaxLength = "1" })
                <small class="text-muted">@Html.ValidationMessageFor(m => m.RcClasification.Nivel)</small>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <fieldset class="form-group">
                <label for="Nombre">Code</label>
                @Html.TextBoxFor(m => m.RcClasification.Codigo, new { @class = "form-control", @placeholder = "Code ...", @MaxLength = "7" })
                <small class="text-muted">@Html.ValidationMessageFor(m => m.RcClasification.Codigo)</small>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <fieldset class="form-group">
                <label for="Nombre">Description</label>
                @Html.TextBoxFor(m => m.RcClasification.Descripcion, new { @class = "form-control", @placeholder = "Description...", @MaxLength = "50" })
                <small class="text-muted">@Html.ValidationMessageFor(m => m.RcClasification.Descripcion)</small>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <fieldset class="form-group">
                <label for="Nombre">Ownership</label>
                @Html.TextBoxFor(m => m.RcClasification.Ownership, new { @class = "form-control", @placeholder = "Ownership ...", @MaxLength = "5" })
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <fieldset class="form-group">
                <label for="Nombre">Delete</label><br />
                @Html.CheckBoxFor(m => m.RcClasification.Borrado, new { @class = "form-control" })
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <input type="submit" value="Save" name="Guardar" class="btn btn-success" />
            <input type="button" value="Back" id="Volver" class="btn btn-danger" onclick="@("window.location.href='" + @Url.Action("RcClasificationBM", "Adm") + "'");" />
        </div>
    </div>
    }
</div>
