@model Larca2.Models.UserForm

@{
    ViewBag.Title = "New User";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Here you can create new Users for the system.

            </p>
        </div>
    </section>
}
<script type="text/javascript">

    var permisosArray = [];
    var Repetido = false;
    var x = 0;

    function AgregaPermisoESP()
    {
        
        var CBU_valo = $("#CboBU").val();
        var CBU_desc = $("#CboBU option:selected").text();
        var CBU_valId = $("#CboBU option:selected").val();

        var SMO_valo = $("#CboSMO").val();
        var SMO_desc = $("#CboSMO option:selected").text();
        var SMO_valId = $("#CboSMO option:selected").val();

        var OWN_valo = $("#CboOWNER").val();
        var OWN_desc = $("#CboOWNER option:selected").text();
        var OWN_valId = $("#CboOWNER option:selected").val();

        if (CBU_valId == 0) {
            alert("Choose a valid BU");
            return;
        }
        if (SMO_valId == 0) {
            alert("Choose a valid SMO");
            return;
        }
        if (OWN_valId == 0) {
            alert("Choose a valid OWNER");
            return;
        }
        
        if (permisosArray.length != 0)
         {

           for (var i = 0; i < permisosArray.length; i++)
             {

               if (CBU_valo == permisosArray[i].CBU && SMO_valo == permisosArray[i].SMO && OWN_valo == permisosArray[i].OWN)
               {
                  Repetido = true;
               }
             }
         }
 
        if (!Repetido)
          {
            var carga = CBU_valId + "." + SMO_valId + "." + OWN_valId;
            if ($("#HI_PermisosEsp").val() == "") {
                $("#HI_PermisosEsp").val(carga);

            }
            else

                $("#HI_PermisosEsp").val($("#HI_PermisosEsp").val() + "/" + carga);

            $('#tablaPermisos tr:last').after('<tr><td style="display: none">' + CBU_valId + '</td><td style="display: none">' + SMO_valId + '</td><td style="display: none">' + OWN_valId + '</td><td>' + CBU_desc + '</td><td>' + SMO_desc + '</td><td>' + OWN_desc + '</td><td><button id="' + x + '"" onclick="FuncLESSPermiso(this)" value="Quitar" class="btn btn-warning"> Remove</button></td></tr>');

            permisosArray.push({ CBU: CBU_valId, SMO: SMO_valId, OWN: OWN_valId, Id: x });
            x++;
          }

        Repetido = false;    
    }

    function FuncLESSPermiso(donde)
    {
       var x = $(donde).attr("id");
      
       for (var i = 0; i < permisosArray.length; i++)
         {

           if (x == permisosArray[i].Id)
             {
               permisosArray.splice(i, 1);
             }
         }

       $(donde).closest('tr').remove();
        
        $("#HI_PermisosEsp").val("");
        $("#tablaPermisos tr").each(function (index) {
            var p1 = $(this).find("td").eq(0).html();
            var p2 = $(this).find("td").eq(1).html();
            var p3 = $(this).find("td").eq(2).html()       

            if (p1 != "") {
                var carga = p1 + "." + p2 + "." + p3;
                if ($("#HI_PermisosEsp").val() == "")
                {
                $("#HI_PermisosEsp").val(carga);
       
                }
            else
                $("#HI_PermisosEsp").val($("#HI_PermisosEsp").val() + "/" + carga);
            }
        });

    

    }
</script>

<div class="container-fluid">
    @using (Html.BeginForm("AgregarUsuario", "Adm", FormMethod.Post))
    {
        <input name="HI_PermisosEsp" id="HI_PermisosEsp" type="hidden" value="" />
        <div class="row">
                <div class="col-sm-13">
                    <fieldset class="form-group">
                        <label for="Nombre">First Name</label>
                            @Html.TextBoxFor(m => m.Usuario.Nombre, new { @class = "form-control", @placeholder = "First Name ..." })
                        <small class="text-muted">@Html.ValidationMessageFor(m => m.Usuario.Nombre)</small>
                    </fieldset>
                </div>
            </div>
        <div class="row">
                <div class="col-sm-13">
                    <fieldset class="form-group">
                        <label for="Nombre">Last Name</label>
                            @Html.TextBoxFor(m => m.Usuario.Apellido, new { @class = "form-control", @placeholder = "Last Name ..." })
                        <small class="text-muted">@Html.ValidationMessageFor(m => m.Usuario.Apellido)</small>
                    </fieldset>
                </div>
            </div>
        <div class="row">
                <div class="col-sm-13">
                    <fieldset class="form-group">
                        <label for="Nombre">Username</label>
                            @Html.TextBoxFor(m => m.Usuario.Usuario, new { @class = "form-control", @placeholder = "Username ..." })
                        <small class="text-muted">@Html.ValidationMessageFor(m => m.Usuario.Usuario)</small>
                    </fieldset>
                </div>
            </div>
        <div class="row">
                <div class="col-sm-13">
                    <fieldset class="form-group">
                        <label for="Nombre">Password</label>
                            @Html.TextBoxFor(m => m.Usuario.Clave, new { @class = "form-control", @placeholder = "Password ..." })
                        <small class="text-muted">@Html.ValidationMessageFor(m => m.Usuario.Clave)</small>
                    </fieldset>
                </div>
            </div>
        <div class="row">
                <div class="col-sm-13">
                    <fieldset class="form-group">
                        <label for="Nombre">Email</label>
                            @Html.TextBoxFor(m => m.Usuario.Email, new { @class = "form-control", @placeholder = "Email ..." })
                        <small class="text-muted">@Html.ValidationMessageFor(m => m.Usuario.Email)</small>
                    </fieldset>
                </div>
            </div>
        <div class="row">
                <div class="col-sm-13">
                    <fieldset class="form-group">
                        <label for="Nombre">Phone No</label>
                            @Html.TextBoxFor(m => m.Usuario.Telefono, new { @class = "form-control", @placeholder = "Phone No ..." })
                    </fieldset>
                </div>
            </div>
        <div class="row">
                <div class="col-sm-13">
                    <fieldset class="form-group">
                        <label for="Nombre">Roles</label>
                            @{
                                List<SelectListItem> ListRoles = new List<SelectListItem>();
                                ListRoles.Add(new SelectListItem() { Value = "0", Text = "Choose a Role", Selected = false });

                                //var listItems = new SelectList(@ViewBag.ComboRol);
                                foreach (var fila in ViewBag.ComboRol)
                                {
                                    ListRoles.Add(new SelectListItem() { Value = @fila.Value, Text = @fila.Text, Selected = false });
                                }
                            }
                            @Html.DropDownList("CboRoles", ListRoles, new { @class = "form-control", @placeholder = "Roles ..." })
                            @if (ViewBag.ErrorRol)
                            { 
                                <small class="text-muted" style="color:red;">Required</small>
                            }

                    </fieldset>
                </div>
            </div>
        <div class="row">
                <div class="col-sm-13">
                    <fieldset class="form-group">
                        <label for="Nombre">Special Permits</label>
                        @if (ViewBag.ErrorPermiso)
                        {
                            <br /><small style="color:red;">Required</small>
                        }

                    </fieldset>
                </div>
            </div>
        <div class="=row">
                <div class="col-sm-3">
                    <fieldset class="form-group">
                        <label for="Nombre">BU Permits</label>
                            @{
                        List<SelectListItem> ListBU = new List<SelectListItem>();
                        ListBU.Add(new SelectListItem() { Value = "0", Text = "Choose BU", Selected = false });

                        var listItems1 = new SelectList(@ViewBag.MasterBU);
                        foreach (var fila in ViewBag.MasterBU)
                        {
                            ListBU.Add(new SelectListItem() { Value = @fila.Value, Text = @fila.Text, Selected = false });
                        }
                    }
                            @Html.DropDownList("CboBU", ListBU, new { @class = "form-control", @placeholder = "Roles ..." })
                    </fieldset>
                </div>
                <div class="col-sm-3">
                    <fieldset class="form-group">
                        <label for="Nombre">SMO Permits</label>
                            @{
                        List<SelectListItem> ListSMO = new List<SelectListItem>();
                        ListSMO.Add(new SelectListItem() { Value = "0", Text = "Choose SMO", Selected = false });

                        var listItems2 = new SelectList(@ViewBag.MasterSMO);
                        foreach (var fila in ViewBag.MasterSMO)
                        {
                            ListSMO.Add(new SelectListItem() { Value = @fila.Value, Text = @fila.Text, Selected = false });
                        }
                    }
                            @Html.DropDownList("CboSMO", ListSMO, new { @class = "form-control", @placeholder = "Roles ..." })
                    </fieldset>
                </div>
                <div class="col-sm-3">
                    <fieldset class="form-group">
                        <label for="Nombre">OWNER Permits</label>
                            @{
                        List<SelectListItem> ListOWNER = new List<SelectListItem>();
                        ListOWNER.Add(new SelectListItem() { Value = "0", Text = "Choose OWNER", Selected = false });

                        var listItems3 = new SelectList(@ViewBag.MasterOW);
                        foreach (var fila in ViewBag.MasterOW)
                        {
                            ListOWNER.Add(new SelectListItem() { Value = @fila.Value, Text = @fila.Text, Selected = false });
                        }
                    }
                            @Html.DropDownList("CboOWNER", ListOWNER, new { @class = "form-control", @placeholder = "Roles ..." })
                    </fieldset>
                </div>
                <div class="col-sm-3">
                    <label for="Nombre">Action</label><br />
                    <input type="button" value="Add Permits" id="Agregar" class="btn btn-info" onclick="AgregaPermisoESP();"  />
                </div>
            </div>
        <div class="row">
                <table id="tablaPermisos" width=100% class="table">
                    <thead>
                        <tr><td style="display: none"><td style="display: none"><td style="display: none"><td width=30%> Permits BU</td> <td width=30%>Permits SMO</td> <td width=30%>Permits OWNER</td> <td width=30%>Delete</td></tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        <div class="row">
                <div class="col-sm-12">
                    <div class="pull-right col">
                        <br />
                        <input type="submit" value="Save" name="Save" class="btn btn-success" />&nbsp;&nbsp;&nbsp;
                        <input type="button" value="Back" id="Volver" class="btn btn-danger" onclick="@("window.location.href='" + @Url.Action("UserBM", "Adm") + "'");" />
                    </div>
                </div>
            </div>
        }
        </div>

