@model Larca2.Models.RcClasificationSearchForm

@{
    ViewBag.Title = "New RC Clasification";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}
<div class="container-fluid">

    @using (Html.BeginForm("AgregarRcClasification", "Adm", FormMethod.Post))
    {
        <div class="row" style="margin-top:10px;">
            <div class="col-sm-12">
                <fieldset class="form-group">
                    <label for="Nombre">Description</label>
                    @Html.TextBoxFor(m => m.RcClasification.Description, new { @class = "form-control", @placeholder = "Description...", @MaxLength = "50" })
                    <small class="text-muted">@Html.ValidationMessageFor(m => m.RcClasification.Description)</small>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <fieldset class="form-group">
                    <label for="Nombre">Ownership</label>
                    @{
        List<SelectListItem> roleList = new List<SelectListItem>();
        roleList.Add(new SelectListItem() { Value = "0", Text = "Choose Role", Selected = true });
        roleList.Add(new SelectListItem() { Value = "DRP", Text = "DRP", Selected = false });
        roleList.Add(new SelectListItem() { Value = "MAL", Text = "MAL", Selected = false });
                    }
                    @Html.DropDownListFor(m => m.RcClasification.Ownership, new SelectList(roleList, "Value", "Text"), new { @class = "form-control" })

                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <fieldset class="form-group">
                    <label for="Nombre">Delete</label><br />
                    @Html.CheckBoxFor(m => m.RcClasification.deleted, new { @class = "form-control" })
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input type="submit" value="Save" name="Guardar" class="btn btn-success" />
                <input type="button" value="Back" id="Volver" class="btn btn-danger" onclick="@("window.location.href='" + @Url.Action("RcClasificationBM", "Adm") + "'");" />
            </div>
        </div>
    }
</div>
