@model Larca2.Models.Level4SearchForm

@{
    ViewBag.Title = "New Other Classification";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Here you can create other classification for the system.
            </p>
        </div>
    </section>
}

<script>

    $(document).ready(function () {


        $('#btnGuardar').on('click', function () {

            if (document.getElementById('Descripcion').value == "") {

                document.getElementById("Requerido").style.display = "";
                return false;
            }
        });

    });

</script>


<div class="container-fluid">

    @using (Html.BeginForm("Agregar_abm_level4", "Adm", new { }, FormMethod.Post))
    {
        <div class="row">
            <div class="col-sm-13" style="width:500px;margin-left:10px">
                <fieldset class="form-group">
                    <label for="Nombre" style="margin-left:10px">Description</label>
                    <input type="hidden" id="txtNivel" name="txtNivel" value=@ViewBag.Id />
                    @Html.TextBoxFor(m => m.Level4.name, new { @class = "form-control", @placeholder = "Description...", @MaxLength = "50", id = "Descripcion" })
                    <div id="Requerido" style="color:red;display:none">Description Required</div>
                    <small class="text-muted">@Html.ValidationMessageFor(m => m.Level4.name)</small>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="pull-left col" style="margin-left:10px">
                <input type="submit" value="Save" name="Guardar" id="btnGuardar" class="btn btn-success" />&nbsp;&nbsp;&nbsp;
                <input type="button" value="Back" id="Volver" class="btn btn-danger" onclick="@("window.location.href='" + @Url.Action("Level4", "Adm") + "'");" />
            </div>
        </div>
    }
</div>