@model Larca2.Models.RcClasificationSearchForm
@{
    ViewBag.Title = "Root Cause Clasification Edition";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}

<script>

    $(document).ready(function () {

        //$('#btnBusca').on('click', function () {
        //    if (document.getElementById('txtCod').value == "" && document.getElementById('txtDes').value == "") {

        //        document.getElementById("Seleccionar").style.display = "";
        //        return false;
        //    }
        //});

        $('#Save').on('click', function () {

            var IdRenglon;
            var rowCount = $('.table tr').length;
            var value = $('input:checked').val();
            var CheckedCount = $('input:checked').length;


            $('.txtIdRenglon').val(value);
            if (value > 0) {
                if (rowCount == 1) {

                    document.getElementById("Seleccionar").style.display = "";
                    return false;
                }
                else {

                    //if (CheckedCount > 1) {
                    //    document.getElementById("Check2").style.display = 'none';
                    //    document.getElementById("Check1").style.display = "";

                    //    return false;
                    //}

                    if (CheckedCount < 1) {
                        document.getElementById("Check1").style.display = 'none';
                        document.getElementById("Check2").style.display = "";
                        return false;
                    }
                }
            }
            else {
                document.getElementById("Check2").style.display = "";
                return false;
            }
        });
    });



</script>

<div class="container-fluid">

    @using (Html.BeginForm("ModifRcClasification", "Adm", FormMethod.Post, new { name = "myform" }))
    {
        <div class="row" style="margin-top:10px;">
            <div class="col-sm-12">
                <h5 style="border-bottom:1px solid #c7d1d6;">FILTERS</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label>Code</label><br />
                <input type="text" id="txtCod" name="txtCod" value="" class="col-sm-12" />
            </div>
            <div class="col-sm-4">
                <label>Description</label><br />
                <input type="text" id="txtDes" name="txtDes" value="" class="col-sm-12" />
            </div>
            <div class="col-sm-2">
                <br style="margin-bottom:3px;" />
                <button type="submit" id="btnBusca" class="btn btn-info" formaction="RcClasificationBM">Search</button>

            </div>
        </div>
        <div class="row" style="margin-bottom:10px;margin-top:10px; font-weight:bold;">
            <div class="col-sm-4" id="Seleccionar" style="color:red;display:none">Select One Filter</div>
            <div class="col-sm-4" id="Check1" style="color:red;display:none">Select Only one Row</div>
            <div class="col-sm-4" id="Check2" style="color:red;display:none">Select a Row</div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <input type="button" value="New Row" name="Nuevo" id="Nuevo" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("NuevaRcClasification", "Adm") + "'");" />
                <input type="submit" id="Save" value="Save Row" name="Modificar" class="btn btn-success" />
                <input type="hidden" class="txtIdRenglon" id="txtIdRenglon" name="txtIdRenglon" value="" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th width="10%" align="center">
                                <label>Selection</label>
                            </th>
                            <th width="20%" align="center">
                                <label>Level</label>
                            </th>
                            <th width="20%" align="center">
                                <label>Code</label>
                            </th>
                            <th width="20%" align="center">
                                <label>Description</label>
                            </th>
                            <th width="20%" align="center">
                                <label>Ownership</label>
                            </th>
                            <th width="10%" align="center">
                                <label>Deleted</label>
                            </th>
                        </tr>

                        @{int j = 0;
                        if (Model.RcClasificationList != null)
                        {

                            foreach (LARCA2.Data.DatabaseModels.LARCA20_RcClasification RcClasification in Model.RcClasificationList)
                            {
                                <tr>
                                    <td class="Check" width="10%" align="center">
                                        @Html.CheckBoxFor(m => m.Selected[j], new { @value = RcClasification.Id })
                                        @Html.HiddenFor(Modell => Modell.RcClasificationList[j].Id, new { @value = RcClasification.Id })
                                    </td>

                                    <td width="20%" align="center">
                                        <label>
                                            @RcClasification.level_name
                                        </label>
                                    </td>
                                    <td width="20%" align="center">
                                        <label>
                                            @RcClasification.Code
                                        </label>
                                    </td>
                                    <td width="20%" align="center">
                                        <label>
                                            @Html.TextBoxFor(Modell => Modell.RcClasificationList[j].Description, new { @value = RcClasification.Description })
                                        </label>
                                    </td>
                                    <td width="20%" align="center">
                                        <label>
                                            @{
                                            List<SelectListItem> roleList = new List<SelectListItem>();
                                            roleList.Add(new SelectListItem() { Value = "0", Text = "Choose Role", Selected = true });
                                            roleList.Add(new SelectListItem() { Value = "DRP", Text = "DRP", Selected = false });
                                            roleList.Add(new SelectListItem() { Value = "MAL", Text = "MAL", Selected = false });
                                            }
                                            @Html.DropDownListFor(Modell => Modell.RcClasificationList[j].Ownership, new SelectList(roleList, "Value", "Text", RcClasification.Ownership), new { @class = "form-control" })
                                        </label>
                                    </td>

                                    <td width="10%" align="center">
                                        <label>
                                            @{
                                                    List<SelectListItem> stateList = new List<SelectListItem>();

                                                    stateList.Add(new SelectListItem() { Value = "True", Text = "True", Selected = false });
                                                    stateList.Add(new SelectListItem() { Value = "False", Text = "False", Selected = false });
                                            }
                                            @Html.DropDownListFor(Modell => Modell.RcClasificationList[j].deleted, new SelectList(stateList, "Value", "Text", RcClasification.deleted), new { @class = "form-control" })
                                        </label>
                                    </td>
                                </tr>
                                j++;
                            }
                        }
                        }

                    </table>
                </div>
            </div>
        </div>
    }
</div>
