@model Larca2.Models.UserSearchForm
@{
    ViewBag.Title = "User Modification";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This screen allows the visualization, modification and deletion of Users in the system.

            </p>
        </div>
    </section>
}

<script>

    $(document).ready(function () {

        $('#btnBusca').on('click', function () {
            if (document.getElementById('txtNombre').value == "" && document.getElementById('txtApellido').value == "") {
               
                document.getElementById('txtTodos').value = 1;
                //document.getElementById("Seleccionar").style.display = "";
                //return false;
            }
        });

        $('#Modificar').on('click', function () {

            var IdRenglon;
            var rowCount = $('.table tr').length;
            var value = $('input:checked').val();
            var CheckedCount = $('input:checked').length;


            $('.txtIdRenglon').val(value);


            if (rowCount == 1) {

                document.getElementById("Seleccionar").style.display = "";
                return false;
            }
            else {

                if (CheckedCount > 1) {
                    document.getElementById("Check2").style.display = 'none';
                    document.getElementById("Check1").style.display = "";

                    return false;
                }

                if (CheckedCount < 1) {
                    document.getElementById("Check1").style.display = 'none';
                    document.getElementById("Check2").style.display = "";
                    return false;
                }
            }

        });
    });



</script>





<div class="container-fluid">

    @using (Html.BeginForm("ModifUser", "Adm", FormMethod.Post, new { name = "myform" }))
    {
        <div class="row">
            <div class="col-sm-13">
                <h5 style="border-bottom:1px solid #c7d1d6;">Filters</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label>First Name </label><br />
                <input type="text" id="txtNombre" name="txtNombre" value="" />
            </div>
            <div class="col-sm-4">
                <label>Last Name</label><br />
                <input type="text" id="txtApellido" name="txtApellido" value="" />
            </div>
            <div class="col-sm-2">
                <br style="margin-bottom:3px;" />
                <button type="submit" id="btnBusca" class="btn btn-info" formaction="UserBM">Search</button>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    <div class="row">
        <br style="margin-bottom:3px;" />
        <div class="col-sm-4" id="Seleccionar" style="color:red;display:none">Choose a filter for the search</div>
        <div class="col-sm-4" id="Check1" style="color:red;display:none">Select a single user for modification</div>
        <div class="col-sm-4" id="Check2" style="color:red;display:none">Select a user for modification</div>
        <div class="col-sm-13 pull-right">
            <h5 style="border-bottom:1px solid #c7d1d6;">OPERATIONS</h5>
        </div>
    </div>
        <div class="row">
            <div class="pull-right col">
                <input type="button" value="New" name="New" id="Nuevo" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("NuevoUsuario", "Adm") + "'");" />
                <input type="submit" id="Modificar" value="Modify" name="Modify" class="btn btn-default" />
                <input type="hidden" class="txtIdRenglon" id="txtIdRenglon" name="txtIdRenglon" value="" />
                <input type="hidden" class="txtTodos" id="txtTodos" name="txtTodos" value="" />

            </div>
        </div>
        <div class="row">
            <div class="col-sm-13">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th width="5%" align="center"></th>
                            <th width="15%" align="center">
                                <label>First Name</label>
                            </th>
                            <th width="15%" align="center">
                                <label>Last Name</label>
                            </th>
                            <th width="20%" align="center">
                                <label>Username</label>
                            </th>
                            <th width="5%" align="center">
                                <label>Deleted</label>
                            </th>
                            <th width="20%" align="center">
                                <label>Email</label>
                            </th>
                            <th width="10%" align="center">
                                <label>Date</label>
                            </th>
                            <th width="10%" align="center">
                                <label>Phone No.</label>
                            </th>

                        </tr>

                        @{int j = 0;
                          
                     if (Model.Usuarios != null)
                      {
                          
                        foreach (LARCA2.Data.DatabaseModels.LARCA20_Usuarios usuario in Model.Usuarios)
                        {
                            <tr>
                                <td width="5%" align="center">
                                    @Html.CheckBoxFor(m => m.Selected[j], new { @value = usuario.IdRenglon })
                                </td>

                                <td width="15%" align="center">
                                    <label>
                                        @usuario.Nombre
                                    </label>
                                </td>
                                <td width="15%" align="center">
                                    <label>
                                        @usuario.Apellido
                                    </label>
                                </td>
                                <td width="20%" align="center">
                                    <label>
                                        @usuario.Usuario
                                    </label>
                                </td>
                                <td width="5%" align="center">
                                    <label>
                                        @usuario.Borrado
                                    </label>
                                </td>

                                <td width="20%" align="center">
                                    <label>
                                        @usuario.Email
                                    </label>
                                </td>
                                <td width="10%" align="center">
                                    <label>
                                        @usuario.Fecha
                                    </label>
                                </td>
                                <td width="10%" align="center">
                                    <label>
                                        @usuario.Telefono
                                    </label>
                                </td>

                            </tr>
                            j++;
                          }
                         }
                        }
                    </table>
                </div>
            </div>
        </div>
    }
</div>
