@model Larca2.Views.ViewModels.LAScopeViewModel
@{
    ViewBag.Title = "LARCA News";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}

<script>
    $(document).ready(function () {
        $('#FilterBU').on('click', function () {
            $('#smo').val("0");
            $('#txtType').val("BU");
        });
        $('#FilterSMO').on('click', function () {
            $('#rbu').val("0");
            $('#txtType').val("SMO");
        });
    });
</script>


<div class="container-fluid">
    @using (Html.BeginForm("LarcaNewsProcess", "LAScope", FormMethod.Post, new { name = "myform" }))
    {
        <input type="hidden" class="txtType" id="txtType" name="txtType" value="" />
        <div class="row">
            <div class="col-sm-12">
                <h5 style="border-bottom:1px solid #c7d1d6;">FILTER</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <fieldset class="form-group">
                    @Html.DropDownListFor(model => model.rbu, Model.BUList, new { @class = "form-control" })
                </fieldset>
            </div>
            <div class="col-sm-1">
                <input type="submit" value="Filter by BU" name="command" class="btn btn-info" id="FilterBU" />
            </div>
            <div class="col-sm-3">
                <fieldset class="form-group">
                    @Html.DropDownListFor(model => model.smo, Model.SMOList, new { @class = "form-control", })
                </fieldset>
            </div>
            <div class="col-sm-1">
                <input type="submit" value="Filter by SMO" name="command" class="btn btn-info" id="FilterSMO" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input type="submit" value="Export Excel" name="command" class="btn btn-success" />
                @{
        var user = (LARCA2.Data.DatabaseModels.LARCA20_Users)HttpContext.Current.Session["Usuario"];
                }
                @if (user.LARCA20_UsersRoles.ToList()[0].RefIdRoles == 1)
                {
                    <input type="submit" value="Send Email" name="command" class="btn btn-warning" />
                    <input type="submit" value="Send All Reports" name="command" class="btn btn-danger" />
                }
            </div>
        </div>

    }
    <div class="row">
        <div class="col-sm-12 pull-right">
            <p style="color:red; font-size:16px;margin-top:5px;">
                @ViewBag.Result
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div style="overflow:scroll;">
                <div class="table-responsive" style="width:2500px;">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th style="width:200px;">  BU</th>
                                <th style="width:200px;">  SMO</th>
                                <th style="width:200px;">  Cut Classification</th>
                                <th style="width:200px;">  Other Classification</th>
                                <th style="width:200px;">  Volume</th>
                                <th style="width:200px;">  % in GAP</th>
                                <th style="width:200px;"> Problem Statement</th>
                                <th style="width:200px;"> Why</th>
                                <th style="width:200px;"> Why</th>
                                <th style="width:200px;"> Why</th>
                                <th style="width:200px;"> Action Plan</th>
                                <th style="width:200px;"> Responsible</th>
                                <th style="width:200px;">  GAP Analysis Owner</th>
                            </tr>
                            @foreach (var item in (List<LARCA2.Business.Entities.ReportRow>)ViewData["MasterRows"])
                            {
                                <tr style="background-color:gray;">
                                    <td style="background-color:gray;color:#fff;">@item.RBU</td>
                                    <td style="background-color:gray;color:#fff;">@item.SMO</td>
                                    <td style="background-color:gray;color:#fff;">@item.CUT</td>
                                    <td style="background-color:gray;color:#fff;">@item.LEVEL4</td>
                                    <td style="background-color:gray;color:#fff;">@item.VOLUME</td>
                                    <td style="background-color:gray;color:#fff;">@item.GAP</td>
                                    <td style="background-color:gray;color:#fff;">@item.PROBLEM</td>
                                    <td style="background-color:gray;color:#fff;">@item.WHY1</td>
                                    <td style="background-color:gray;color:#fff;">@item.WHY2</td>
                                    <td style="background-color:gray;color:#fff;">@item.WHY3</td>
                                    <td style="background-color:gray;color:#fff;">@item.ACTIONPLAN</td>
                                    <td style="background-color:gray;color:#fff;">@item.RESPONSIBLE</td>
                                    <td style="background-color:gray;color:#fff;">@item.GAPANALYSIS</td>

                                </tr>
                                foreach (var detail in (List<LARCA2.Business.Entities.ReportRow>)item.Details.ToList())
                                {
                                    if (detail.RBU != "")
                                    {
                                    <tr>
                                        <td style="border-bottom:0;"> @detail.RBU</td>
                                        <td style="border-bottom:0;"> @detail.SMO</td>
                                        <td style="border-bottom:0;"> @detail.CUT</td>
                                        <td> @detail.LEVEL4</td>
                                        <td style="border-bottom:0;"> @detail.VOLUME</td>
                                        <td style="border-bottom:0;"> @detail.GAP</td>
                                        <td> @detail.PROBLEM</td>
                                        <td> @detail.WHY1</td>
                                        <td> @detail.WHY2</td>
                                        <td> @detail.WHY3</td>
                                        <td> @detail.ACTIONPLAN</td>
                                        <td> @detail.RESPONSIBLE</td>
                                        <td> @detail.GAPANALYSIS</td>
                                    </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td style="border-top:0; border-bottom:0;"></td>
                                            <td style="border-top:0;border-bottom:0;"> </td>
                                            <td style="border-top:0;border-bottom:0;"></td>
                                            <td> @detail.LEVEL4</td>
                                            <td style="border-top:0;border-bottom:0;"></td>
                                            <td style="border-top:0;border-bottom:0;"></td>
                                            <td> @detail.PROBLEM</td>
                                            <td> @detail.WHY1</td>
                                            <td> @detail.WHY2</td>
                                            <td> @detail.WHY3</td>
                                            <td> @detail.ACTIONPLAN</td>
                                            <td> @detail.RESPONSIBLE</td>
                                            <td> @detail.GAPANALYSIS</td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

