@model Larca2.Views.ViewModels.SMOScopeViewModel
@{
    ViewBag.Title = "Analysis Module";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This screen allows the visualization, modification and deletion of SMOScope Registers in the database.
            </p>
        </div>
    </section>
}
<script src="../Scripts/jquery-1.8.2.js"></script>
<script src="../Scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript">

    function Details(id) {
        $.ajax({
            url: '@Url.Action("MostrarDetalle", "Smo")',
            type: 'GET',
            dataType: 'json',
            cache: false,
            data: { 'id': id },
            success: function (results) {
                var myWindow = window.open("", "SmoDetails " + id + "", "width=1000,height=500");
                myWindow.document.write(results);

            },
            error: function () {
                alert('Error occured');
            }
        });
    }

    function LoadEm() {
        //durante el posteo del form relevo todos los clones a un request que le llegue al controlador.
        if ($("#HI_Counter").val() == "")
        { }
        else
        {
            var numi = parseInt($("#HI_Counter").val());
            for (i = 1; i <= numi; i++) {
                var act = document.getElementById("cl" + i);
                

                if (act == null)
                { } //cuidado con esto, si se borra un registro clonado van a haber nulls. este if los elimina de la carga final
                else
                {
                    var nsmoId =  document.getElementById("clSmo" + i).value;
                    var nbuId = document.getElementById("clBu" + i ).value;
            

                    var act0 = act.getElementsByTagName("td")[0];
                    var act1 = act.getElementsByTagName("td")[1];
                    var act2 = act.getElementsByTagName("td")[2];
                    var act3 = act.getElementsByTagName("td")[3];
                    var act4 = act.getElementsByTagName("td")[4];
                    var act5 = act.getElementsByTagName("td")[5];
                    var act6 = act.getElementsByTagName("td")[6];
                    var act7 = act.getElementsByTagName("td")[7];
                    var act8 = act.getElementsByTagName("td")[8];
                    var act9 = act.getElementsByTagName("td")[9];
                    var act10 = act.getElementsByTagName("td")[10];
                    var act11 = act.getElementsByTagName("td")[11];
                    var act12 = act.getElementsByTagName("td")[12];


                    //en variable de carga dejo solo los datos relevantes de cada atributo, sin la cascara de HTML de cada uno
                    var cargaFOR = act0.getElementsByTagName("label")[0].innerHTML.replace("<", "=").replace(">", "=") + "%%" +
                        nsmoId + "%%"
                        + nbuId + "%%"
                        + act3.getElementsByTagName("label")[0].innerHTML.replace("<", "=").replace(">", "=") + "%%" +
                        act4.getElementsByTagName("select")[0].selectedIndex + "%%" +
                        act5.getElementsByTagName("label")[0].getElementsByTagName("textarea")[0].value + "%%" +
                        act6.getElementsByTagName("label")[0].getElementsByTagName("textarea")[0].value + "%%"
                        + act7.getElementsByTagName("label")[0].getElementsByTagName("textarea")[0].value.replace("<", "=").replace(">", "=") + "%%" +
                        act8.getElementsByTagName("label")[0].getElementsByTagName("textarea")[0].value.replace("<", "=").replace(">", "=") + "%%"
                        + act9.getElementsByTagName("label")[0].getElementsByTagName("textarea")[0].value.replace("<", "=").replace(">", "=") + "%%" +
                        act10.getElementsByTagName("select")[0].selectedIndex + "%%" +
                        act11.getElementsByTagName("label")[0].getElementsByTagName("input")[0].value.replace("<", "=").replace(">", "=") + "%%" +
                        act12.getElementsByTagName("label")[0].getElementsByTagName("input")[0].value.replace("<", "=").replace(">", "=");
                  
                     //separador de atributo %% separador de fila ##
                    if ($("#HI_SmoEsp").val() == "")
                        $("#HI_SmoEsp").val(cargaFOR.replace("\n", "").replace("\r\n", ""));
                    else
                        $("#HI_SmoEsp").val($("#HI_SmoEsp").val() + "##" + cargaFOR.replace("\n", "").replace("\r\n", ""));

                }
            }//fin del FOR

        }
        //alert($("#HI_SmoEsp").val());
        //alert($("#HI_NumEsp").val());
        //alert($("#HI_Counter").val());
    }
    function AgregaRegistroFinalESP(num) {
        
        document.getElementById("maxClones_" + num + "_").value = document.getElementById("maxClones_" + num + "_").value - 1;
        if (document.getElementById("maxClones_" + num + "_").value == 0)
            document.getElementById("Clone" + num).style.visibility = 'hidden';
        else
            document.getElementById("Clone" + num).style.visibility = 'visible';

        //guardo el id del registro clonado, puede que me sirva dpeendiendo de la solucion que implemente
        if ($("#HI_NumEsp").val() == "")
            $("#HI_NumEsp").val(num);
        else
            $("#HI_NumEsp").val($("#HI_NumEsp").val() + "##" + num);
       
        //marco con un contador cuantos clones hay, de paso lo uso para definir id particulares para las filas que son clones
        if ($("#HI_Counter").val() == "")
            $("#HI_Counter").val("1");
        else
            $("#HI_Counter").val(parseInt($("#HI_Counter").val()) + 1);

        //obtengo la fila a clonar
      //  alert(num);
        var z = document.getElementById(num);
        //obtengo todas las columnas
      
        var smoId = document.getElementById("EditablesSMO_" + num + "__RefIdSMO").value;
        var buId = document.getElementById("EditablesSMO_" + num + "__RefIdBU").value;
      
        var t0 = z.getElementsByTagName("td")[0];
        var t1 = z.getElementsByTagName("td")[1];
        var t2 = z.getElementsByTagName("td")[2];
        var t3 = z.getElementsByTagName("td")[3];
        var t4 = z.getElementsByTagName("td")[4];
        var t5 = z.getElementsByTagName("td")[5];
        var t6 = z.getElementsByTagName("td")[6];
        var t7 = z.getElementsByTagName("td")[7];
        var t8 = z.getElementsByTagName("td")[8];
        var t9 = z.getElementsByTagName("td")[9];
        var t10 = z.getElementsByTagName("td")[10];
        var t11 = z.getElementsByTagName("td")[11];
        var t12 = z.getElementsByTagName("td")[12];
        //en variable de carga dejo solo los datos relevantes de cada atributo, sin la cascara de HTML de cada uno

        /*var carga = t0.getElementsByTagName("label")[0].innerHTML.replace("<", "=").replace(">", "=") + "##" + t1.getElementsByTagName("label")[0].innerHTML.replace("<", "=").replace(">", "=") + "##"
            + t2.getElementsByTagName("label")[0].innerHTML.replace("<", "=").replace(">", "=") + "##"
            + t3.getElementsByTagName("label")[0].innerHTML.replace("<", "=").replace(">", "=") + "##" + t4.getElementsByTagName("label")[0].innerHTML.replace("<", "=").replace(">", "=") + "##" +
            t5.getElementsByTagName("label")[0].getElementsByTagName("input")[0].value + "##" + t6.getElementsByTagName("label")[0].getElementsByTagName("input")[0].value + "##"
            + t7.getElementsByTagName("label")[0].getElementsByTagName("input")[0].value.replace("<", "=").replace(">", "=") + "##" + t8.getElementsByTagName("label")[0].getElementsByTagName("input")[0].value.replace("<", "=").replace(">", "=") + "##"
            + t9.getElementsByTagName("select")[0].selectedIndex + "##" + t10.getElementsByTagName("label")[0].getElementsByTagName("input")[0].value.replace("<", "=").replace(">", "=") + "##" + t11.getElementsByTagName("label")[0].getElementsByTagName("input")[0].value.replace("<", "=").replace(">", "=") + "##" + t12.getElementsByTagName("select")[0].selectedIndex;
      */

        //separador de atributo ## separador de fila #/#
        /* if ($("#HI_SmoEsp").val() == "")
             $("#HI_SmoEsp").val(carga);
         else
             $("#HI_SmoEsp").val($("#HI_SmoEsp").val() + "#/#" + carga);
             */

        
        var table = document.getElementById("tablaSmor");
        var contadorval = $("#HI_Counter").val();
        
        //num = num + 2;
        /*if (num >= parseInt(contadorval)){
            num = num + parseInt(contadorval) + 1;
        }
        else{
            num = num + 2;
        }*/
        
        var rowIndex = document.getElementById(num).rowIndex;
        rowIndex = rowIndex + 1;
      //  alert(rowIndex);
        var row = table.insertRow(rowIndex);
        row.id = "cl" + contadorval;
      
        var cell0 = row.insertCell(0);
        var cell1 = row.insertCell(1);
        var cell2 = row.insertCell(2);
        var cell3 = row.insertCell(3);
        var cell4 = row.insertCell(4);
        var cell5 = row.insertCell(5);
        var cell6 = row.insertCell(6);
        var cell7 = row.insertCell(7);
        var cell8 = row.insertCell(8);
        var cell9 = row.insertCell(9);
        var cell10 = row.insertCell(10);
        var cell11 = row.insertCell(11);
        var cell12 = row.insertCell(12);
    
        
        cell0.innerHTML = t0.innerHTML;
        cell1.innerHTML = t1.innerHTML;
        cell2.innerHTML = t2.innerHTML;
        cell3.innerHTML = t3.innerHTML;
        //cell4.innerHTML = t4.innerHTML + '<button id="btn_LESSPermiso" onclick="FuncLESSRegistro(this)" value="Quitar" class="btn btn-warning">Remove</button>';
        //cell4.innerHTML = '<input type="button" value="+" id="Clone" class="btn btn-info" onclick="AgregaRegistroFinalESP(' + contadorval + ')">' + '<button id="btn_LESSPermiso" onclick="FuncLESSRegistro(this)" value="Quitar" class="btn btn-warning">Remove</button>';
     
        var elem = t4.innerHTML.split('</label>');
    
        label = elem[0];
        //var tt4 = label.getElementsByTagName("select")[0];
        //tt4.attr("id") = "select' + contadorval + '_' + num + '";
        //tt4 = tt4.remove(tt4.selectedIndex);
        //abel.getElementsByTagName("select")[0] = tt4;
       
        cell4.innerHTML = label + '</label>' + '<input name="clBu' + contadorval + '" id="clBu' + contadorval + '" type="hidden" value="' + buId + '" /> ' + '<input name="clSmo' + contadorval + '" id="clSmo' + contadorval + '" type="hidden" value="' + smoId + '" /> ' + '<button id="btn_LESSPermiso" name="clhid' + contadorval + '_' + num + '"  onclick="FuncLESSRegistro(this)" value="Quitar" class="btn btn-warning">Remove</button>';
        //cell4.getElementsByTagName("select")[0].remove(cell4.getElementsByTagName("select")[0].selectedIndex);
        //cell4.innerHTML = label + '</label>' + '<input name="clBu' + contadorval + '" id="clBu' + contadorval + '" type="hidden" value="' + buId + '" /> ' + '<input name="clSmo' + contadorval + '" id="clSmo' + contadorval + '" type="hidden" value="' + smoId + '" /> ' + '<button id="btn_LESSPermiso" onclick="FuncLESSRegistro(this)" value="Quitar" class="btn btn-warning">Remove</button>';
   
        cell5.innerHTML = t5.innerHTML;
        cell6.innerHTML = t6.innerHTML;
        cell7.innerHTML = t7.innerHTML;
        cell8.innerHTML = t8.innerHTML;
        cell9.innerHTML = t9.innerHTML;
        cell10.innerHTML = t10.innerHTML;
        cell11.innerHTML = t11.innerHTML;
        cell12.innerHTML = t12.innerHTML;
    
       // alert(num);
      /*  
        //cargo en la tabla la nueva fila
        self.
            //'#tablaSmor tr:last')
        $('#tablaSmor tr:last').after('<tr id="cl' + contadorval + '"><td>' + t0.innerHTML + '</td><td>' + t1.innerHTML + '</td><td>' + t2.innerHTML + '</td><td>' + t3.innerHTML + '</td><td>' +
        t4.getElementsByTagName("label")[0].innerHTML + '<button id="btn_LESSPermiso" onclick="FuncLESSRegistro(this)" value="Quitar" class="btn btn-warning">Remove</button></td><td>' + t5.innerHTML + '</td><td>' + t6.innerHTML + '</td><td>' + t7.innerHTML + '</td><td>' + t8.innerHTML +
            '</td><td>' + t9.innerHTML + '</td><td>' + t10.innerHTML + '</td><td>' + t11.innerHTML + '</td><td>' +
           t12.innerHTML + '</td></tr>');*/
        
    }



    function FuncLESSRegistro(donde) {
        //copiado de nuevoUsuario, no me fije con detalle como funciona, pero ya implemente el borrado a partir de esto y funciona bien con mecanismos implementados en otras partes del codigo.

        var number = document.getElementById($(donde).closest('tr').attr('id')).getElementsByTagName('button')[0].getAttribute("name").split("_")[1];
        document.getElementById("maxClones_" + number + "_").value = document.getElementById("maxClones_" + number + "_").value + 1;
        if (document.getElementById("maxClones_" + number + "_").value <= 0)
            document.getElementById("Clone" + number).style.visibility = 'hidden';
        else
            document.getElementById("Clone" + number).style.visibility = 'visible';

        $(donde).closest('tr').remove();
        $("#HI_SmoEsp").val("");
        $("#tablaRegistros tr").each(function (index) {
            var p1 = $(this).find("td").eq(0).html();
            var p2 = $(this).find("td").eq(1).html();
            var p3 = $(this).find("td").eq(2).html();
            var p4 = $(this).find("td").eq(3).html();
            var p5 = $(this).find("td").eq(4).html();
            var p6 = $(this).find("td").eq(5).html();
            var p7 = $(this).find("td").eq(6).html();
            var p8 = $(this).find("td").eq(7).html();
            var p9 = $(this).find("td").eq(8).html();
            var p10 = $(this).find("td").eq(9).html();
            var p11 = $(this).find("td").eq(10).html();
            var p12 = $(this).find("td").eq(11).html();
            var p13 = $(this).find("td").eq(12).html();
            /*   if (p1 != "") {
                   var carga = p1 + "##" + p2 + "##" + p3 + "##" + p4 + "##" + p5 + "##" + p6 + "##" + p7 + "##" + p8 + "##" + p9 + "##" + p10 + "##" + p11 + "##" + p12 + "##" + p13;
                   if ($("#HI_SmoEsp").val() == "")
                       $("#HI_SmoEsp").val(carga);
                   else
                       $("#HI_SmoEsp").val($("#HI_SmoEsp").val() + "#-#" + carga);
               }*/
        });
    }
</script>


    <div class="container-fluid" style="margin-bottom:20px;">
    @using (Html.BeginForm("SmoFiltrado", "Smo", FormMethod.Post, new { name = "myform" }))
        {
   

        <div class="row">
            <div class="col-sm-13">
                <h5 style="border-bottom:1px solid #c7d1d6; margin-left:18px;">  FILTERS</h5>
            </div>
        </div>
    <div class="row">
        <div class="col-sm-4">
            <fieldset class="form-group">
                @Html.DropDownListFor(model => model.bu, Model.BUList)
            </fieldset>
        </div>
        <div class="col-sm-4">
            <fieldset class="form-group">
                @Html.DropDownListFor(model => model.smo, Model.SMOList)
            </fieldset>
        </div>
        @if(Model.dropdownMeses.Count != 1) { 
        <div class="col-sm-4">
            <fieldset class="form-group">
                @Html.DropDownListFor(model => model.mesSeleccionado, Model.dropdownMeses)
            </fieldset>
        </div>
        }
       </div>
          
    <div align="left">
        <input type="submit" value="Search" name="Search" class="btn btn-info" />
    </div>
        }

        </div>

         <div style="overflow:scroll;">
             <div class="content-wrapper" style="margin-bottom:20px;width:2500px;height:350px">
                 @using (Html.BeginForm("SmoModificados", "Smo", FormMethod.Post, new { id = "SmoForm", name = "SmoForm" }))
                 {
                     <input name="HI_SmoEsp" id="HI_SmoEsp" type="hidden" value="" />
                     <input name="HI_NumEsp" id="HI_NumEsp" type="hidden" value="" />
                     <input name="HI_Counter" id="HI_Counter" type="hidden" value="" />

                     <table id="tablaSmor" class="table" width="2000">
                         <thread>
                             <tr>

                                 <th width="5%" align="center">
                                     <label>Volume</label>
                                 </th>
                                 <th width="4%" align="center">
                                     <label>SMO</label>
                                 </th>
                                 <th width="3%" align="center">
                                     <label>BU</label>
                                 </th>
                                 <th width="5%" align="center">
                                     <label>Root Cause</label>
                                 </th>
                                 <th width="10%" align="center">
                                     <label>Other classification</label>
                                 </th>
                                 <th align="center">
                                     <label>Problem Statement</label>
                                 </th>
                                 <th align="center">
                                     <label>Why 1</label>
                                 </th>
                                 <th align="center">
                                     <label>Why 2</label>
                                 </th>
                                 <th align="center">
                                     <label>Why 3</label>
                                 </th>
                                 <th align="center">
                                     <label>Action Plan</label>
                                 </th>
                                 <th width="5%" align="center">
                                     <label>Responsible</label>
                                 </th>
                                 <th width="5%" align="center">
                                     <label>Due Date</label>
                                 </th>
                                 <th width="3%" align="center">
                                     <label>Open or Closed</label>
                                 </th>

                             </tr>

                             @{int j = 0;

                             if (Model.MBLL == null)
                             {
                                 Model.MBLL = new LARCA2.Business.Services.MasterDataBLL();
                             }
                             foreach (LARCA2.Data.DatabaseModels.LARCA20_SmoScope SmoScope in Model.RegistrosSMO)
                             {
                                 <tr id=@(j.ToString())>

                                   
                                     @Html.HiddenFor(x => x.EditablesSMO[j].SmoScopeID)
                                     @Html.HiddenFor(x => x.EditablesSMO[j].RefIdBU)
                                     @Html.HiddenFor(x => x.EditablesSMO[j].RefIdSMO)

                                     <td width="5%" align="center">
                                         <label>
                                             @decimal.Round(decimal.Parse(SmoScope.Volumen.ToString()),2).ToString()
                                         </label>
                                         <input type="button" value="Details" id="Sel(@(j.ToString()))" class="btn btn-warning" onclick="Details(@(Model.RegistrosSMO[j].SmoScopeID.ToString()))" />

                                     </td>
                                     <td width="4%" align="center">
                                         @if (Model.EditablesSMO[j].RefIdSMO != null)
                                         {
                                             <label>
                                                 @Model.MBLL.Traer("SMO", Int32.Parse(SmoScope.RefIdSMO.Value.ToString())).DataIni
                                             </label>
                                         }
                                         else
                                         {
                                             <label>
                                                 -
                                             </label>
                                             @Html.HiddenFor(x => x.EditablesSMO[j].RefIdSMO)
                                         }
                                     </td>
                                     <td width="3%" align="center">
                                         @if (Model.EditablesSMO[j].RefIdBU != null)
                                         {
                                             <label>
                                                 @Model.MBLL.Traer("BU", Int32.Parse(SmoScope.RefIdBU.Value.ToString())).DataFin
                                             </label>
                                         }
                                         else
                                         {
                                             <label>
                                                 -
                                             </label>
                                             @Html.HiddenFor(x => x.EditablesSMO[j].RefIdBU)
                                         }
                                     </td>
                                     <td width="5%" align="center">
                                         @if (Model.EditablesSMO[j].RefIdRC != null)
                                         {
                                             <label>
                                                 @Model.RCBLL.Traer(SmoScope.RefIdRC.Value).Description
                                             </label>
                                         }
                                         else
                                         {
                                             <label>
                                                 -
                                             </label>
                                             @Html.HiddenFor(x => x.EditablesSMO[j].RefIdRC)
                                         }
                                     </td>
                                     <td width="10%" align="left">
                                         @if (Model.EditablesSMO[j].Level4 != null && Model.EditablesSMO[j].Level4 != 0)
                                         {
                                             <label>
                                                 @Html.DropDownListFor(model => model.EditablesSMO[j].Level4, LARCA2.Controllers.AdmController.LeveSelectItem(Model.L4List, Int32.Parse(Model.EditablesSMO[j].Level4.Value.ToString())))   @* @Model.L4BLL.Traer(SmoScope.Level4.Value).Nombre  *@
                                             </label>}
                                         else
                                         {
                                             <label>
                                                 @Html.DropDownListFor(model => model.EditablesSMO[j].Level4, LARCA2.Controllers.AdmController.LeveSelectItem(Model.L4List, 0))   @* @Model.L4BLL.Traer(SmoScope.Level4.Value).Nombre  *@
                                             </label>

                                         }
                                         <input type="button" value="+" id="Clone@(j.ToString())" class="btn btn-info" hidden="" onclick="AgregaRegistroFinalESP(@(j.ToString()))" />

                                     </td>
                                     @Html.HiddenFor(x => x.maxClones[j], new { @class = "hidden-control", @value = Math.Min(Model.maxClones[j], LARCA2.Controllers.AdmController.LeveSelectItem(Model.L4List, 0).Count) })
                                     <td align="center">
                                         <label>
                                             @Html.TextAreaFor(m => m.EditablesSMO[j].Problem, new { @class = "form-control", @cols = 150, @rows = 5, @placeholder = SmoScope.Problem, @Styles = "font-family: Verdana"})
                                         </label>
                                     </td>

                                     <td align="center">
                                         <label>
                                             @Html.TextAreaFor(m => m.EditablesSMO[j].Why1, new { @class = "form-control", @cols = 150, @rows = 5, @placeholder = SmoScope.Why1 })
                                         </label>
                                     </td>
                                     <td align="center">
                                         <label>
                                             @Html.TextAreaFor(m => m.EditablesSMO[j].Why2, new { @class = "form-control", @cols = 150, @rows = 5, @placeholder = SmoScope.Why2 })
                                         </label>
                                     </td>
                                     <td align="center">
                                         <label>
                                             @Html.TextAreaFor(m => m.EditablesSMO[j].Why3, new { @class = "form-control", @cols = 150, @rows = 5, @placeholder = SmoScope.Why3 })
                                         </label>
                                     </td>
                                     <td align="center">
                                         <label>
                                             @Html.TextAreaFor(m => m.EditablesSMO[j].ActionPlan, new { @class = "form-control", @cols = 150, @rows = 5, @placeholder = SmoScope.ActionPlan })
                                         </label>
                                     </td>
                                     <td width="5%" align="center">
                                         <label>
                                             @Html.DropDownListFor(model => model.EditablesSMO[j].RefIdResponsable, LARCA2.Controllers.AdmController.RespSelectItem(Model.Responsables, (Model.EditablesSMO[j].RefIdResponsable == null ? 0 : Model.EditablesSMO[j].RefIdResponsable.Value)))
                                   
                                               </label>
                                     </td>
                                     <td width="5%" align="center">
                                         <label>
                                             @Html.TextBoxFor(m => m.EditablesSMO[j].DueDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                                         </label>
                                     </td>
                                     <td width="3%" align="center">

                                         @if (Model.EditablesSMO[j].O_C != null)
                                         {
                                             <label>
                                                 @Html.TextBoxFor(m => m.EditablesSMO[j].O_C, new { @class = "form-control", @placeholder = SmoScope.O_C })
                                             </label>
                                         }
                                         else
                                         {
                                             <label>
                                                 @Html.TextBoxFor(m => m.EditablesSMO[j].O_C, new { @class = "form-control", @placeholder = "-" })
                                             </label>
                                         }

                                     </td>
                                 </tr>
                                         j++;
                             }
                             }
                             <tr><td width=5% style="display: none"><td width=4% style="display: none"><td width=3% style="display: none"><td width=5% style="display: none"> </td> <td width=10% style="display: none"></td> <td style="display: none"></td> <td style="display: none"></td><td style="display: none"></td><td style="display: none"></td><td style="display: none"></td><td width=5% style="display: none"></td><td width=5% style="display: none"></td><td width=3% style="display: none"></td></tr>
                         </thread>
                         <tbody></tbody>
                     </table>
                     if (Model.RegistrosSMO != null && Model.EditablesSMO != null && Model.RegistrosSMO.Count > 0)
                     {
                         <div align="center">
                             @* <input type="submit" value="Guardar Cambios" name="Guardar Cambios" class="btn btn-default" /> *@
                             <input type="submit" value="Save Changes" id="guardar" onclick="LoadEm()" class=" btn btn-info" />
                         </div>
                     }
                  }
             </div>
        </div>
<br />
<div align="center"> <label id="Message"></label> </div> @* this is where controller messages will be left after each action. *@
