@model Larca2.Views.ViewModels.SMOScopeViewModel
@{
    ViewBag.Title = "SMOScope Registers Grouping and Detail Visualization";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This screen allows grouping of the SMOScope Registers in the database.
            </p>
        </div>
    </section>
}

<script type="text/javascript">


    function Details(id) {
        $.ajax({
            url: '@Url.Action("MostrarDetalle", "Smo")',
            type: 'GET',
            dataType: 'json',
            cache: false,
            data: { 'id': id },
            success: function (results) {
                var myWindow = window.open("", "SmoDetails " + id + "", "width=1000,height=500");
                myWindow.document.write(results);

            },
            error: function () {
                alert('Error occured');
            }
        });
    }


</script>
        <div class="content-wrapper" style="margin-bottom:20px;">
            @using (Html.BeginForm("SmoSimpleFiltrado", "Smo", FormMethod.Post, new { name = "myform" }))
    {
        <div class="row">
                    <div class="col-sm-13">
                        <fieldset class="form-group">
                            <label for="Nombre">BU</label>
                                @Html.DropDownListFor(model => model.bu, Model.BUList)

                        </fieldset>
                    </div>
                </div>
        <div class="row">
                    <div class="col-sm-13">
                        <fieldset class="form-group">
                            <label for="Nombre">SMO</label>
                                @Html.DropDownListFor(model => model.smo, Model.SMOList)
                        </fieldset>
                    </div>
                    <br />
                </div>
        <div class="pull-right">
                    <input type="submit" value="Filtrar" name="Filtrar" class="btn btn-default" />
                </div>
    }
        </div>

        <br />
        <br />
        <div class="content-wrapper" style="margin-bottom:20px;">
                                @using (Html.BeginForm("SmoSimpleAgrupar", "Smo", FormMethod.Post, new { name = "myform" }))
    {
        <table class="table">
                    <tr>
                        <th width="5%" align="center">
                            <label>Details</label>
                        </th>
                        <th width="5%" align="center">
                            <label>RC</label>
                        </th>
                        <th width="5%" align="center">
                            <label>SMO</label>
                        </th>
                        <th width="5%" align="center">
                            <label>BU</label>
                        </th>
                        <th width="10%" align="center">
                            <label>Volume</label>
                        </th>
                        <th width="15%" align="center">
                            <label>Problem</label>
                        </th>
                        <th width="10%" align="center">
                            <label>Why 1</label>
                        </th>
                        <th width="10%" align="center">
                            <label>Why 2</label>
                        </th>
                        <th width="10%" align="center">
                            <label>Why 3</label>
                        </th>
                        <th width="10%" align="center">
                            <label>ActionPlan</label>
                        </th>
                        <th width="10%" align="center">
                            <label>Responsible</label>
                        </th>
                        <th width="10%" align="center">
                            <label>Due Date</label>
                        </th>
                        <th width="10%" align="center">
                            <label>O_C</label>
                        </th>
                        <th width="10%" align="center">
                            <label>Level4</label>
                        </th>
                        <th width="5%" align="center">
                            <label>Select</label>
                        </th>
                    </tr>

                                @{int j = 0;
            LARCA2.Business.Services.ResponsablesBLL RRBLL = new LARCA2.Business.Services.ResponsablesBLL();
            LARCA2.Business.Services.UsuariosBLL UUBLL = new LARCA2.Business.Services.UsuariosBLL();
            if (Model.L4BLL == null)
            {
                Model.L4BLL = new LARCA2.Business.Services.Level4BLL();
            }
            if (Model.MBLL == null)
            {
                Model.MBLL = new LARCA2.Business.Services.MasterDataBLL();
            }
            foreach (LARCA2.Data.DatabaseModels.LARCA20_SmoScope SmoScope in Model.RegistrosSMO)
            {

                Model.selectedItems.Add(new bool {});
                <tr>
                                @Html.HiddenFor(x => x.RegistrosSMO[j].SmoScopeID)
                            <td width="5%" align="center">
                                <input type="button" value="Show" id="Sel(@(j.ToString()))" class="btn btn-warning" onclick="Details(@(Model.RegistrosSMO[j].SmoScopeID.ToString()))" />
                            </td>
                            <td width="5%" align="center">
                                @if (Model.RegistrosSMO[j].RefIdRC != null)
                        {
                            <label>
                                @Model.RCBLL.Traer(SmoScope.RefIdRC.Value).Descripcion
                                    </label>

                        }
                        else
                        {
                            <label>

                                        -
                                    </label>
                            @Html.HiddenFor(x => x.RegistrosSMO[j].RefIdRC)
                        }
                            </td>
                            <td width="5%" align="center">
                                @if (Model.RegistrosSMO[j].RefIdSMO != null)
                        {
                            <label>
                                @Model.MBLL.Traer("SMO", Int32.Parse(SmoScope.RefIdSMO.Value.ToString())).DataIni
                                    </label>

                        }
                        else
                        {
                            <label>

                                        -
                                    </label>
                            @Html.HiddenFor(x => x.RegistrosSMO[j].RefIdSMO)
                        }
                            </td>
                            <td width="5%" align="center">
                                @if (Model.RegistrosSMO[j].RefIdBU != null)
                        {
                            <label>
                                @Model.MBLL.Traer("BU", Int32.Parse(SmoScope.RefIdBU.Value.ToString())).DataIni
                                    </label>

                        }
                        else
                        {
                            <label>

                                        -
                                    </label>
                            @Html.HiddenFor(x => x.RegistrosSMO[j].RefIdBU)
                        }
                            </td>
                            <td width="10%" align="center">
                                <label>
                                @SmoScope.Volumen
                                </label>
                            </td>
                            <td width="15%" align="center">
                                <label>
                                @SmoScope.Problem
                                </label>
                            </td>

                            <td width="10%" align="center">
                                <label>
                                @SmoScope.Why1
                                </label>
                            </td>
                            <td width="10%" align="center">
                                <label>
                                @SmoScope.Why2
                                </label>
                            </td>
                            <td width="10%" align="center">
                                <label>
                                @SmoScope.Why3
                                </label>
                            </td>
                            <td width="10%" align="center">
                                <label>
                                @SmoScope.ActionPlan
                                </label>
                            </td>
                            <td width="10%" align="center">
                                @if (Model.RegistrosSMO[j].RefIdResponsable != null)
                                {
                                    <label>
                                        @UUBLL.Traer(RRBLL.Traer(SmoScope.RefIdResponsable.Value).RefIdUsuario.Value).Usuario
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        -
                                    </label>
                                    @Html.HiddenFor(x => x.RegistrosSMO[j].RefIdResponsable)
                                }

                            </td>
                            <td width="10%" align="center">
                                <label>
                                @Model.RegistrosSMO[j].DueDate
                                </label>
                            </td>
                            <td width="10%" align="center">

                                @if (SmoScope.O_C != null)
                        {
                            <label>
                                @SmoScope.O_C
                                    </label>

                        }
                        else
                        {
                            <label>
                                        -
                                    </label>
                        }

                            </td>
                            <td width="10%" align="center">

                                @if (Model.RegistrosSMO[j].Level4 != null)
                        {
                            <label>
                                @Model.L4BLL.Traer(SmoScope.Level4.Value).Nombre
                                    </label>}
                        else
                        {
                            <label>
                                        -
                                    </label>

                        }
                            </td>
                            <td width="5%" align="center">
                                <label>
                                @Html.CheckBoxFor(m=> m.selectedItems[j])
                                </label>
                            </td>
                        </tr>
                        j++;
            }


            }
                </table>

    <div class="pull-right">
                                @* <input type="submit" value="Guardar Cambios" name="Guardar Cambios" class="btn btn-default" /> *@
                <input type="submit" value="Agrupar" id="guardar" class=" btn btn-info" />
            </div>

    }
            </div>

